.App {
  text-align: center;
}

.from {
  margin-top: 42px;
}
.btn {
  background-color: cadetblue;
  border-radius: 8px;
}
.btn:hover {
  background-color: brown;
  color: antiquewhite;
}
h2 {
  color: rgba(62, 134, 110, 0.74);
}
